html {
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: hsl(40, 25%, 80%);
    color: #333;
    font-family: georgia;
    font-size: 18px;
    margin: 0;
}

.content {
    margin: 1em auto;
    padding: 1.5em 3em;
    max-width: 37em;
    border: 1px solid hsl(40, 15%, 70%);
    border-radius: 8px;
    background-color: white;
}

img {
    margin-bottom: 2em;
    display: block;
}

#lyli-icon {
    height: 120px;
}

.center { 
    margin-left: auto;
    margin-right: auto;
}

div.notification {
    background-color: #FFE2A3;
    padding: 1.5em;
    margin-bottom: 2em;
    border-radius: 0.3em;
}

div.notification>span {
    color: #666;
}

span.notfound {
    text-decoration: underline;
    color: hsl(8, 65%, 47%);
    word-wrap: break-word;
}

h2 {
    font-family: georgia;
    font-size: 23px;
    font-weight: normal;
    margin: 0 0 0.2em 0;
}

#newurl {
    margin-top: 0.7em;
}

p, li {
    font-size: 16px;
}

form, div {
    margin: 1em 0;
}

input[type=text], input[type=url] {
    padding: 3px 7px;
    width: 100%;
    max-width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 18px;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input.big {
    margin: 3px 0;
    padding: 7px 11px;
}

::-webkit-input-placeholder { color: #aaa; }
::-moz-placeholder { color: #aaa; } /* firefox 19+ */
:-ms-input-placeholder { color: #aaa; } /* ie */
input:-moz-placeholder { color: #aaa; }


label {
    font-size: 14px;
}

#name, input.shorter {
    width: 200px;
    margin: 3px;
}

#name {
    max-width: calc(100% - 4em);
}

button {
    padding: 0.9em;
    width: 200px;
    margin: 0.1em 0;
    border-radius: 0.3em;
    border: none;
    font-size: 18px;
    color: #FFF;
    background-color: hsl(120, 43%, 45%);
}

button:hover {
    background-color: hsl(120, 58%, 35%);
}

a {
    color: inherit;
    text-decoration: none;
    color: hsl(195, 100%, 37%);
}

a:hover {
    text-decoration: underline;
}

.error {
    font-size: 14px;
    color: #D42600;
    line-height: 160%;
}

.description {
    font-size: 14px;
    color: #777;
    line-height: 160%;
}

pre {
    white-space: pre-wrap;
    display: block;
    padding: 0.5em 1em;
    border: 1px solid #bebab0;
    border-radius: 0.3em;
    background-color: #f2efeb;
}

footer {
    color: #777;
    font-size: 14px;
    text-align: center;
}

footer>a {
    color: #777;
}

@media all and (max-width: 48em) {
    .content {
        margin: 0;
        border: none;
        border-radius: 0;
        box-shadow: 0 0;
    }
}

@media all and (max-width: 30em) {
    .content {
        padding: 1em;
    }
    img {
        margin-bottom: 1.3em;
    }
    #lyli-icon {
        height: 90px;
    }
    button {
        width: 100%;
    }

    div.notification {
        background-color: #FFE2A3;
        padding: 1.2em 1em;
    }

}
