/* Stylesheet for lyli.fi by Felix Bade */

font = "Slabo 13px", Georgia, serif

textcolor = hsl(50, 100%, 65%)
bgcolor = hsl(30, 30%, 25%)
contentbgcolor = hsl(220, 0%, 12%)
buttoncolor = hsl(25, 100%, 40%)
buttontextcolor = hsl(60, 100%, 70%)
linkcolor = hsl(270, 70%, 70%)
notificationbgcolor = hsl(240, 25%, 21%)
errorcolor = hsl(355, 100%, 50%)
notfoundcolor = hsl(13, 80%, 50%)
fadedtextcolor = hsl(25, 100%, 40%)
inputbgcolor = contentbgcolor /* normally white */
selectioncolor = hsl(25, 80%, 50%) /* normally default */
inputbordercolor = hsl(25, 100%, 40%) /* normally #ccc */
placeholdercolor = hsl(25, 100%, 40%) /* normally #aaa */
focuscolor = buttontextcolor

lightenamount = 17%



html
    text-size-adjust: 100%

body
    background-color: bgcolor
    color: textcolor
    font-family: font
    font-size: 18px
    margin: 0
    word-wrap: break-word

.content
    margin: 1em auto
    padding: 1.5em 3em
    max-width: 37em
    border: 1px solid lighten(bgcolor, lightenamount)
    border-radius: 10px
    background-color: contentbgcolor

form, div
    margin: 1em 0



h1, h2
    font-family: font
    font-weight: 500

p, li
    font-size: 16px
    line-height: 160%

pre
    white-space: pre-wrap
    display: block
    padding: 0.5em 1em
    border: 1px solid #bebab0
    border-radius: 0.3em
    background-color: #f2efeb

a
    color: linkcolor
    text-decoration: none
    &:hover
        text-decoration: underline

img
    margin-bottom: 2em
    display: block

.center
    margin-left: auto
    margin-right: auto

.description, footer, footer > a
    font-size: 14px
    color: fadedtextcolor
    line-height: 160%

footer
    text-align: center



div.notification
    background-color: notificationbgcolor
    border: 1px solid desaturate(lighten(notificationbgcolor, lightenamount), 40%)
    border-radius: 8px
    padding: 1.5em
    margin-bottom: 2em

    h2
        font-family: font
        font-weight: normal
        font-size: 23px
        margin: 0 0 0.2em 0
    span
        color: lighten(mix(fadedtextcolor, notificationbgcolor, 90%), lightenamount)
    span.notfound
        text-decoration: underline
        color: notfoundcolor
    a
        //color: lighten(mix(linkcolor, notificationbgcolor, 90%), 10%)
        color: linkcolor

#newurl
    font-size: 32px
    line-height: 160%

#lyli-icon
    height: 120px



input[type=text], input[type=url]
    padding: 3px 7px
    width: 100%
    max-width: @width
    border-radius: 4px
    border: 1px solid inputbordercolor
    color: textcolor
    background-color: inputbgcolor
    font-family: font
    font-size: 18px
    appearance: none
    box-sizing: border-box

input.big
    margin: 3px 0
    padding: 9px 12px

#name, input.shorter
    width: 200px
    margin: 3px

#name
    max-width: calc(100% - 4em)

::placeholder
    color: placeholdercolor

::selection
    background: selectioncolor

:focus
    outline: none !important
    box-shadow: 0 0 12px focuscolor

label
    font-size: 14px

.error
    font-size: 14px
    color: errorcolor
    line-height: 160%



button
    margin: 0.1em 0
    width: 200px
    height: 54px
    border-radius: 6px
    border: none
    font-family: font
    font-size: 18px
    color: buttontextcolor
    background-color: buttoncolor
    &:hover
        /*background-color: saturate(lighten(buttoncolor, 10), 15)*/
        background-color: saturate(lighten(buttoncolor, lightenamount), 20%)



@media all and (max-width: 48em)
    .content
        margin: 0
        border: none
        border-radius: 0
        box-shadow: 0 0

@media all and (max-width: 30em)
    .content
        padding: 1em

    img
        margin-bottom: 1.3em
    
    #lyli-icon 
        height: 90px
    
    button 
        width: 100%
    
    div.notification 
        padding: 1.2em 1em

@font-face
    font-family: 'Slabo 13px'
    font-style: normal
    font-weight: 400
    src: local('Slabo 13px'), local('Slabo13px-Regular'), url('/Slabo13px-Regular.ttf') format('truetype')
