{# This comment makes vim realize that this file is a jinja template #}
<!DOCTYPE HTML>
<html lang="fi">
    <head>
        <title>{% block title %}Lyli - Lyhennä linkki{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-title" content="Lyli">
        <meta name="description" content="Lyhennä pitkä linkki helposti muistettavaksi lyhyeksi linkiksi">
        <meta name="keywords" content="lyhyt, linkki, url, lyhennys, osoite">
        <link rel="stylesheet" href="/style.css" type="text/css" />
        <link rel="shortcut icon" href="/lyli.png">
    </head>
    <body>
        <div class="content">
            {% block content %}{% endblock %}
            <footer>
                &copy; 2014-2015 Felix Bade &middot; <a href="mailto:lyli@lyli.fi">Ota yhteyttä</a> &middot; <a href="/ehdot/">Käyttöehdot</a> &middot; <a href="https://github.com/felixbade/lyli">Lähdekoodi</a>
            </footer>
        </div>
    </body>
</html>
