{% extends "base.html" %}
{% block content %}

<div>
    <img id="lyli-icon" class="center" src="/lyli.png" alt="Käsin piirretty Lyli"/>
</div>

{# Successfull shortening #}
{% if newurl %}
<div class="notification">
    <h2>Lyhentäminen onnistui.</h2>
    <a id="newurl" href="https://lyli.fi/{{newurl}}">lyli.fi/{{newurl}}</a><br>
    <span class="description">{{description}}</span>
    <br>
    <a id="removeurl" href="/poista-lyhennys/{{newurl}}/{{passcode}}">Poista lyhennys</a>
</div>
{% endif %}

{# Successfully removed the shortening #}
{% if removedlink %}
<div class="notification">
    <h2>Linkki <span class="notfound">lyli.fi/{{removedlink}}</span> poistettiin.</h2>
</div>
{% endif %}

{# Failed to remove the shortening #}
{% if didnotremovelink %}
<div class="notification">
    <h2>Linkkiä <a href="https://lyli.fi/{{didnotremovelink}}">lyli.fi/{{didnotremovelink}}</a> ei poistettu.</h2>
    <span class="description">Linkkiä ei voitu poistaa, koska se on lyhennetty eri selaimesta.</span>
</div>
{% endif %}

{# Link/page not found #}
{% if nosuchlink %}
<div class="notification">
    <h2>Linkkiä <span class="notfound">lyli.fi/{{nosuchlink}}</span> ei ole olemassa. ¯\_(ツ)_/¯</h2>
    <span class="description">Se on saattanut olla joskus olemassa. Linkit vapautuvat automaattisesti, kun niitä ei ole käytetty kolmeen viikkoon.</span>
</div>
{% elif nosuchpage %}
<div class="notification">
    <h2>Sivua <span class="notfound">lyli.fi{{nosuchpage}}</span> ei ole olemassa.</h2>
</div>
{% endif %}

{# The url shortening form #}
{% if complicated %}
<form method="post" action="/monimutkainen/" novalidate>
{% else %}
<form method="post" action="/" novalidate>
{% endif %}
    <div>
        {{ form.url(placeholder="Sijoita pitkä linkki tähän", class="big", type="url", autofocus="autofocus") }}
        {% if form.url.errors %}
        <span class="error">{{ form.url.errors[0] }}</span>
        {% endif %}
    </div>
    <div>
        <input type="hidden" name="default_name" value="{{default_name}}">
        <span>lyli.fi/</span>{{ form.name(placeholder=default_name, autocapitalize="off") }}<br>
        {% if form.name.errors %}
        <span class="error">{{ form.name.errors[0] }}</span>
        {% else %}
        <span class="description">Lyhyt linkki, joka vie samalle sivulle kuin pitkä linkki.</span>
        {% endif %}
    </div>
    {% if complicated %}
    <div>
        {% for subfield in form.duration %}
        {{ subfield }}
        {{ subfield.label }}
        <br>
        {% endfor %} 
    </div>
    {% endif %}
    <button type="submit" id="shorten-button">Lyhennä</button>
</form>
{% endblock %}
