{% extends "base.html" %}
{% block content %}

<div>
    <img id="lyli-icon" class="center" src="/lyli.png" alt="Käsin piirretty Lyli"/>
</div>

{% if newurl %}
<div class="notification"><h2>Lyhentäminen onnistui!</h2>
    <a id="newurl" href="http://lyli.fi/{{newurl}}">http://lyli.fi/{{newurl}}</a><br>
    {% if brief or duration == "brief" %}
    <span class="description">Lyhyt linkki vapautuu tunnin päästä, käytettiin sitä tai ei.</span>
    {% elif duration == "once" %}
    <span class="description">Lyhyt linkki vapautuu ensimmäisen avauksen jälkeen.</span>
    {% else %}
    <span class="description">Lyhyt linkki vapautuu kun sitä ei ole käytetty kahteen viikkoon.</span>
    {% endif %}
</div>
{% endif %}

{% if nosuchname %}
<div class="notification"><h2>Linkkiä <span class="notfound">lyli.fi/{{nosuchname}}</span> ei ole olemassa.</h2>
    <span class="description">Se on saattanut olla joskus olemassa. Linkit vapautuvat automaattisesti.</span>
</div>
{% elif nosuchsite %}
<div class="notification"><h2>Sivua <span class="notfound">lyli.fi{{nosuchsite}}</span> ei ole olemassa.</h2>
</div>
{% endif %}

<form method="post" action="/monimutkainen/" novalidate>
    <div>
        <input class="big" type="url" name="url" id="url" placeholder="Sijoita pitkä linkki tähän" value="{{url}}">
        {% if emptyurl %}
        <span class="error">Tässä ei ole mitään.</span>
        {% elif illegalscheme %}
        <span class="error">Voit lyhentää vain http- ja https-linkkejä.</span>
        {% elif illegalurl %}
        <span class="error">Linkissä on jotain outoa.</span>
        {% endif %}
    </div>
    <div>
        <input type="hidden" name="default_name" value="{{default_name}}">
        <span>lyli.fi/</span><input type="text" name="name" id="name" placeholder="{{default_name}}" value="{{name}}" autocapitalize="off"><br>
        {% if nameinuse %}
        <span class="error">lyli.fi/{{nameinuse}} on jo käytössä.</span>
        {% elif illegalname %}
        <span class="error">Päätteessä ei saa olla sanavälejä, pisteitä eikä kauttaviivoja.</span>
        {% else %}
        <span class="description">Lyhyt linkki, joka vie samalle sivulle kuin pitkä linkki.</span>
        {% endif %}
    </div>

    <div>
        <input type="radio" name="duration" value="normal" id="normal" checked />
        <label for="normal">Poista lyhennys kun sitä ei ole käytetty kahteen viikkoon</label><br>
        <input type="radio" name="duration" value="brief" id="brief" />
        <label for="brief">Poista lyhennys tunnin päästä</label><br>
        <input type="radio" name="duration" value="once" id="once" />
        <label for="once">Poista lyhennys ensimmäisen avauksen jälkeen</label><br>
    </div>
    
    <button type="submit" id="shorten-button">Lyhennä</button>
</form>

{% endblock %}

{% block monimutkainen_footer %}<a href="/">Yksinkertainen versio</a>{% endblock %}
