{% extends "base.html" %}
{% block title %}
Lylin tarina
{% endblock %}
{% block content %}
<div>
    <a href="/">&larr; Etusivulle</a>
    <h1>Lylin tarina</h1>
    <p>Lyli syntyi lukiolaisen turhautumisesta, kun koko internetistä ei löytynyt oikeasti helposti ymmärrettävää linkinlyhennyspalvelua (jos löydät, <a href="mailto:{{email}}">kerro minulle</a>!). Linkin lyhentämisen idea on kuitenkin hyvin yksinkertainen, joten palvelunkin pitäisi olla.</p>
    <p>Tietoteknisten järjestelmien pitäisi minusta muutenkin olla yksinkertaisia. Helppokäyttöisyys ei riitä, vaan koko konseptin täytyy olla riisuttu. Uudesta teknologiasta on lähes aina haittaa, joten sen hyödyntäminen on syytä perustella ja testata huolellisesti. Tai siis, melkein kaiken voi tehdä perinteisillä työkaluilla halvemmalla, toimintavarmemmin ja helpommin ymmärrettävästi, kun käyttää hieman luovuutta.</p>
    <p>Minimalistinen konsepti on myös mahdollista hioa loppuun asti. Kun jonkin järjestelmän ymmärtää läpikotaisin, syntyy tietty omistajuuden tunne. Lylistä onkin tietoisesti poistettu toimintoja vuosien varrella, jotta kaikkein tärkeimmälle jäisi enemmän tilaa.</p>
    <p>Lylin visuaalinen ilme on vastakohta kylmänsiniselle korporaatioilmeelle, jota on nykyään vähän joka paikassa.</p>
    <h2>Lylin käyttäminen</h2>
    <p>Lyli on nykytaideteos. Sitä saa käyttää oikeisiin tarpeisiin, mutta täydellinen saatavuus ei ole Lylin ensisijainen tavoite. Lyliä ei kannata käyttää sellaisissa tilanteissa, joissa linkin toimiminen on kriittistä. Linkinlyhennyspalvelut aiheuttavat muutenkin aina yhden epävarmuustekijän.</p>
    <p>– Felix</p>
</div>
{% endblock %}
