{% extends "base.html" %}
{% block title %}
Lylin käyttöehdot
{% endblock %}
{% block content %}
<div>
    <a href="/">Takaisin lyhentämään linkkejä</a>
    <h1>Lylin käyttöehdot</h1>
    <p class="description">Viimeksi päivitetty: 29.1.2014</p>
    <p>Hyväksyt nämä ehdot lyhentämällä linkin lyli.fi:ssä (jäljempänä "Lyli").</p>
    <h2>Tarkoitus</h2>
    <p>Lyli on tarkoitettu suomalaisille käyttäjille, mutta toistaiseksi sitä saa käyttää kuka vain. Lylin tavoite on olla mahdollisimman helppokäyttöinen ja avoin linkinlyhennyspalvelu. Jos jokin asia häiritsee sinua, <a href="mailto:lyhyetlinkit@gmail.com">ota yhteyttä</a>, niin katsotaan voisiko asialle tehdä jotain.</p>
    <h2>Käyttäjän vastuu</h2>
    <p>Et saa käyttää Lyliä mihinkään laittomaan etkä yleistä hyvää vastaan. Lyli on tarkoitettu pitkien linkkien lyhentämiseen, ei inhottavien asioiden piilottamiseen.</p>
    <p>Älä <a href="http://urbaanisanakirja.com/word/floodata/">floodaa</a> tai estä palvelun käyttöä. </p>
    <h2>Toiminta</h2>
    <p>Lyli yrittää olla koko ajan käytettävissä, mutta ei lupaa mitään. Tähän mennessä palvelussa on ollut muutaman minuutin katkoksia silloin tällöin.</p>
    <p>Lyli ei tarkista pitkien linkkien takana olevia sivuja, mutta varaa oikeuden poistaa lyhennyksiä jälkikäteen.</p>
    <p>Lyli poistaa lyhennykset automaattisesti, kun niitä ei ole käytetty kahteen viikkoon. Muuten palvelu täyttyisi vähitellen unohtuneista linkeistä. Lyhennyksistä jää kuitenkin vielä tämän jälkeen merkintöjä lokitiedostoihin.</p>
    <h2>Yksityisyys</h2>
    <p>Kuten useimmat internet-palvelut, myös Lyli tallentaa käyttäjistä tietoa lokitiedostoihin. Siihen kuuluu:
    <ul>
        <li>Sivun osoite</li>
        <li>Sivun latauksen ajankohta</li>
        <li>Onnistuiko sivun lataus</li>
        <li><a href="http://ip.zah.fi">IP-osoiteesi</a>. Esimerkiksi jokaisella kotitaloudella on yleensä oma IP-osoite.</li>
        <li><a href="http://user-agents.me/whats-my-user-agent">Selaimesi tyyppi</a> (engl. user agent). Siitä näkee mm. käyttöjärjestelmäsi.  </li>
        <li>Uniikki eväste (engl. cookie). Sen avulla kaikki selaimesi tekemät haut pystytään yhdistämään toisiisa. Jos et halua sitä, käytä yksityistä selausta ja sulje kaikki välilehdet säännöllisesti.</li>
    </ul></p>
    <p>Lisäksi linkkiä lyhentäessä Lyli tallentaa pitkän linkin lokitiedostoihin.</p>
    <p>Lyli ei tule koskaan tarkoituksella luovuttamaan tai myymään tietojasi kolmansille osapuolille. Sen takia Lyli ei käytä kolmannen osapuolen 
    <a href="http://www.cnet.com/news/facebook-like-button-draws-privacy-scrutiny/">tykkäysnappuloita</a>, 
    <a href="https://www.christopher-parsons.com/google-analytics-privacy-and-legalese/">analytiikkaohjelmia</a> tai 
    <a href="http://www.google.com/adwords/benefits/">mainoksia</a>.
    <a href="http://privatebrowsingmyths.com">Lisätietoja yksityisyydestä internetissä</a>.</p>
    <p>Jotkut käyttäjät käyvät roboteilla järjestelmällisesti läpi lyhyitä linkkejä. Pidä se mielessä, jos linkkisi takana on jotain, mitä et halua kenen tahansa löytävän. Teoriassa kaikki yleisimmät suomenkieliset sanat on mahdollista tarkistaa reilussa varttitunnissa.</p>
    <h2>Muuta</h2>
    <p>Lyli varaa oikeuden muuttaa näitä käyttöehtoja milloin tahansa.</p>
    <p>Lyli sijaitsee Hollannissa <a href="http://www.ramnode.com">RamNoden</a> virtuaalipalvelimella. Ideaalitilanteessa palvelin sijaitsisi Suomessa, mutta se on tällä hetkellä Lylille liian kallista.</p>
</div>
{% endblock %}
