{% extends "base.html" %}
{% block title %}
Lylin käyttöehdot
{% endblock %}
{% block content %}
<div>
    <p><a href="/">Takaisin lyhentämään linkkejä</a></p>
    <h1>Lylin käyttöehdot</h1>
    <p class="description">Viimeksi päivitetty: 12.3.2015 (<a href="https://github.com/felixbade/lyli/commits/master/app/templates/terms.html">muokkaushistoria</a>)</p>
    <p>Hyväksyt nämä ehdot lyhentämällä linkin lyli.fi:ssä (jäljempänä "Lyli").</p>
    <h2>Tarkoitus</h2>
    <p>Lyli on tarkoitettu linkkien <em>tilapäiseen</em> lyhentämiseen. Lylin tavoite on olla mahdollisimman helppokäyttöinen ja avoin linkinlyhennyspalvelu. Jos jokin asia häiritsee sinua, <a href="mailto:{{email}}">ota yhteyttä</a>, niin katsotaan voisiko asialle tehdä jotain.</p>
    <h2>Käyttäjän vastuu</h2>
    <p>Et saa käyttää Lyliä mihinkään laittomaan etkä yleistä hyvää vastaan. Lyli on tarkoitettu pitkien linkkien lyhentämiseen, ei inhottavien asioiden piilottamiseen.</p>
    <h2>Toiminta</h2>
    <p>Lyli yrittää olla koko ajan käytettävissä, mutta ei lupaa mitään. Tähän mennessä palvelussa on ollut muutaman minuutin katkoksia silloin tällöin.</p>
    <p>Lyli ei tarkista pitkien linkkien takana olevia sivuja, mutta varaa oikeuden poistaa lyhennyksiä jälkikäteen.</p>
    <h2>Yksityisyys</h2>
    <p>Älä käytä oletuspäätettä tai helposti arvattavaa päätettä, jos et halua että ulkopuoliset voivat löytää linkkisi.</p>
    <p>Kuten useimmat internet-palvelut, myös Lyli tallentaa käyttäjistä tietoa lokitiedostoihin. Siihen kuuluu:
    <ul>
        <li>Sivun osoite</li>
        <li>Sivun latauksen ajankohta</li>
        <li>Onnistuiko sivun lataus</li>
        <li>Käyttäjän IP-osoite</li>
        <li><a href="http://user-agents.me/whats-my-user-agent">Selaimen tyyppi</a> (engl. user agent)</li>
        <li>Uniikki eväste (engl. cookie). Sen avulla kaikki selaimesi tekemät pyynnöt voidaan yhdistää toisiisa. Jos et halua evästettä Lylissä, valitse selaimesi asetuksista "Älä seuraa" (engl. Do Not Track).</li>
    </ul></p>
    <p>Lisäksi linkkiä lyhentäessä Lyli tallentaa pitkän linkin lokitiedostoihin.</p>
    {#<p>Nettisivulla näkyvissä sähköpostiosoitteissa on seurantamerkkijono (esimerkiksi {{email}}). Sen tarkoitus on vähentää ja tutkia roskapostia. Seurantamerkkijonon avulla Lyli voi yhdistää lähetetyn sähköpostin ja nettisivun latauksen toisiinsa. Voit pyyhkiä seurantamerkkijonon pois ennen sähköpostin lähettämistä, jos haluat.</p>#}
    <p>Lyli ei tule koskaan tarkoituksella luovuttamaan tai myymään tietojasi kolmansille osapuolille, ellei laki niin vaadi. Sen takia Lyli ei käytä kolmannen osapuolen tykkäysnappuloita, analytiikkaohjelmia tai mainoksia.
    <a href="http://donttrack.us/">Lisätietoja yksityisyydestä internetissä</a>.</p>
    <h2>Muuta</h2>
    <p>Lyli varaa oikeuden muuttaa näitä käyttöehtoja milloin tahansa.</p>
    <p>Lyli sijaitsee Hollannissa <a href="http://www.ramnode.com">RamNoden</a> virtuaalipalvelimella.</p>
    {#<h2><a href="/luinehdot">Luin ehdot kokonaan!</a></h2>#}
</div>
{% endblock %}
